a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
  font-style: italic;
  background-color: black;
}

body {
  padding: 4rem;
  font-size: 2rem;
}

button {
  color: white;
  font-size: 2rem;
  padding: 1rem 1.5rem;
  border: 2px solid black;
  background-color: black;
}

button:focus {
  outline: none;
}

button:hover {
  color: black;
  cursor: pointer;
  border: 2px solid black;
  background-color: white;
}

input {
  width: 40%;
  padding: 1rem;
  font-size: 2rem;
  margin-bottom: 3rem;
  border: 2px solid black;
}

input:focus {
  outline: none;
}

li {
  margin-left: 6rem;
  padding-left: 1rem;
}

ol {
  list-style-type: upper-roman;
}

::placeholder {
  color: #333333;
}
